.gitconfig
.jupyter/migrated
.vim/autoload/plug.vim*
.vim/.netrwhist
.vim/plugged/*
!.vim/plugged/.keep
.vim/sessions/*
!.vim/sessions/.keep
.vim/spell/en.utf-8.add.spl
.vim/spell/en.utf-8.sug
.vim/swap/%*
.vim/undo/%*

